<% content_for :stripe do %>
<%= javascript_include_tag "https://js.stripe.com/v1/" %>
<% end %>

<h1>Stripe Form</h1>
<div>
  Current_user's email: <%= @email %>
</div>
<%= link_to :back, root_path %>
<div class="payment-errors"></div>

<%= form_tag form_path, id: "payment-form" do %>
  <div>
    <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" class="card-number"/>
    <label>CVS</label>
    <input type="text" size="4" autocomplete="off" class="card-cvs" />
  </div>
  <div>
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" class="card-expiry-month" />
    <span> / </span>
    <input type="text" size="4" class="card-expiry-year" />
  </div>

  <div>
    <label for="plan_id">Plan Id</label>
    <input name="plan_id" type="text" size="4" />
  </div>

  <button type="submit" class="submit-button">Submit Payment</button>
<% end %>

<script type="text/javascript">
  Stripe.setPublishableKey('pk_aqLcuqB9dfAhRjb3UOuXSipGN73Sp');
  $(document).ready(function() {
    $("#payment-form").submit(function(event) {
      //disable the submit button to prevent repeat clicks.
      $('.submit-button').attr("disabled", true);

      Stripe.createToken({
        number: $('.card-number').val(),
        cvs: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      //prevent the form from submitting with the default action.
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    if(response.error) {
      $('.submit-button').removeAttr("disabled");
      $(".payment-errors").html(response.error.message);
    }
    else {
      var form$ = $("#payment-form");
      var token = response['id'];

      form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
      form$.get(0).submit();
    }
  }
</script>